<div class="container">
    <div class="grid">
        <div class="left-container col-12 md:col-5">
            <div class="flex flex-column pb-5">
                <div class="profile mb-1"></div>
                <div class="p-card-title mb-1">Noah Lara</div>
                <div class="p-card-subtitle mb-3">Middle Frontend Engineer & Scrum Master</div>
                <div class="p-card-content mb-1">
                    I create quality digital experiences and lead agile teams to success.
                </div>
            </div>

            <nav class="nav pb-5">
                <ul class="menu">
                    <li>
                        <a href="#projects">
                            <span class="menu-item">
                                <span class="menu-indicator"></span>
                                <span class="menu-text">PROJECTS</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#experience">
                            <span class="menu-item">
                                <span class="menu-indicator"></span>
                                <span class="menu-text">EXPERIENCE</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="menu-item">
                                <span class="menu-indicator"></span>
                                <span class="menu-text">ABOUT</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="social-media">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-twitter"></i>
                <i class="pi pi-linkedin"></i>
                <i class="pi pi-github"></i>
            </div>
        </div>
        <div class="right-container col-12 md:col-7">
            <p-scrollPanel [style]="{ width: '100%', height: '80vh'}">

                <!-- 📌.:|PROJECTTS|:. -->
                <section id="projects" class="section">
                    <small>Unfortunately, I'm unable to share specific visual details about my projects due to
                        confidentiality agreements.
                        However, I'd be happy to provide more information and insights into the projects I've worked on,
                        including the technologies used,
                        challenges faced, and the solutions implemented.</small>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>Store Management System </strong> · <strong>Central America</strong>
                            <br>
                            Angular | RESTful APIs | Google Maps API.
                            <br><br>
                            <span>
                                I worked on a successful project aimed at optimizing store management across Central
                                America. The system included various key modules, such as employee management, asset
                                tracking, and location mapping. This platform streamlined store operations by providing
                                a centralized solution for managing personnel, tracking store assets, and visualizing
                                store locations on an interactive map.

                                My role involved developing the front-end user interface and ensuring seamless
                                integration with back-end services, allowing for efficient management of stores and
                                resources across multiple countries.
                            </span>
                        </div>
                    </div>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>Automotive Color Order Tracking System</strong> · <strong>Central America</strong>
                            <br>
                            Angular | RESTful APIs
                            <br><br>
                            <span>
                                I contributed to the successful development of a project focused on automating color
                                orders for automotive specialists. This system enables users to input detailed
                                specifications and relevant details.

                                The platform also tracks the performance by monitoring the time
                                taken for orders and providing key performance indicators (KPIs) to enhance management
                                efficiency.

                                My responsibilities included designing user-friendly interfaces and implementing
                                features that facilitate order management, ultimately streamlining the ordering process
                                for automotive colors.
                            </span>
                        </div>
                    </div>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>Online Credit Application System</strong> · <strong>Central America</strong>
                            <br>
                            Angular | RESTful APIs | Micro Frontend Architecture
                            <br><br>
                            <span>
                                I played a key role in developing a comprehensive credit application system for
                                customers, allowing them to apply for credit products through a dedicated link. This
                                project facilitated the entire process digitally, enabling users to submit virtual
                                documentation and electronically sign their applications.

                                The system streamlines the approval and rejection workflow, providing valuable insights
                                and key performance indicators (KPIs) at both regional and country levels.

                                My contributions included enhancing the user experience, ensuring the security of
                                sensitive information, and integrating analytics features to monitor application trends
                                and performance metrics effectively.
                            </span>
                        </div>
                    </div>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>Car Auction Importation</strong> · <strong>El Salvador</strong>
                            <br>
                            Angular | RESTful APIs | NodeJs | PostgreSql | Web scraping
                            <br><br>
                            <span>
                                I served as a full-stack developer on a project focused on streamlining the import of
                                vehicles from EU auctions. My responsibilities encompassed delivering comprehensive
                                import information and accurately calculating total import costs based on specific
                                details. This role allowed me to contribute significantly to both the front-end and
                                back-end development, ensuring a seamless user experience and efficient data management.
                            </span>
                        </div>
                    </div>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>Call Center System Enhancement</strong> · <strong>El Salvador</strong>
                            <br>
                            Angular | RESTful APIs | NodeJs | Microsoft SQL SERVER
                            <br><br>
                            <span>
                                I contributed as a full-stack developer to the integration of a module designed for
                                managing customer call center
                                interactions, focusing on authentication and account management. My role involved
                                developing features that enhance the efficiency of customer support operations and
                                ensuring secure access to customer accounts.
                            </span>
                        </div>
                    </div>

                    <div
                        class="grid mx-1 mt-5 hover:shadow-4 hover:border-700 border-round-lg transition-duration-300 pl-2">
                        <div class="col-12">
                            <strong>eCommerce</strong> · <strong>El Salvador</strong>
                            <br>
                            Angular | RESTful APIs | NodeJs | PostgreSql
                            <br><br>
                            <span>
                                I contributed to an eCommerce project by implementing a module that showcased real-time
                                online store orders on a graphical dashboard. Furthermore, I developed a sales analysis
                                feature that compared current month sales with those from the previous month, providing
                                valuable insights for decision-making. My role also included the integration of a
                                payment gateway, as well as enhancing user experience with features such as newsletters,
                                a "Contact Us" section, affiliate links, and product filtering by categories.
                            </span>
                        </div>
                    </div>
                </section>

                <!-- 📌.:|EXPERIENCE|:. -->
                <section id="experience" class="section grid">
                    <div class="col-12">
                        <app-experience *ngFor="let experience of experiences" [startYear]="experience.startYear"
                            [endYear]="experience.endYear" [title]="experience.title" [company]="experience.company"
                            [description]="experience.description" [link]="experience.link"
                            [technologies]="experience.technologies"></app-experience>
                    </div>
                </section>

                <!-- 📌.:|ABOUT|:. -->
                <section id="about" class="section">
                    <p>
                        As a Scrum Master and FullStack Developer, I specialize in leading agile teams, optimizing
                        project delivery, and driving team productivity.
                    </p>
                    <p>
                        With extensive experience in Angular development, I’ve delivered high-impact web applications
                        for major businesses in El Salvador and Central America, including projects for the financial
                        and retail sectors. My expertise lies in building user-friendly interfaces and integrating
                        complex functionalities, from real-time data visualizations to payment gateways.
                    </p>
                    <p>
                        When I’m not at the computer,I enjoy playing guitar, spending quality time with my family, and
                        exploring new adventures in the digital world of Hyrule. :)
                    </p>
                </section>
            </p-scrollPanel>

        </div>
    </div>
</div>